<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>


<table>
    <% @categories.each do |category| %>
        <tr>
            <td>
                <h3>
                    <%= link_to(category.name, tasks_path(category_id: category.id))  %>
                </h3>
            </td>
            <td>
                <%= link_to('Edit', edit_category_path(id: category.id)) %>
            </td>
            <td>
                <p><%= link_to("Delete", delete_category_path(id: category.id)) %></p>
            </td>
        </tr>
    <% end %>
</table>


<%= link_to('Home', main_index_path) %>
<%= link_to('New Category', new_category_path) %>